<h3>Account Settings</h3>
<div class="margin-3">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" type="text" value="" ng-model="model.user.user_username" disabled>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" ng-model="model.user.user_password">
        </div>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input id="fname" class="form-control" type="text" ng-model="model.user.user_firstname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input id="lname" class="form-control" type="text" ng-model="model.user.user_lastname">
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input id="dob" class="form-control" type="date" ng-model="model.user.dob">
        </div>
        <div class="form-group">
            <label for="phno">Contact Number</label>
            <input id="phno" class="form-control" type="text" ng-model="movie.user.user_contact_number">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input id="email" class="form-control" type="email" ng-model="model.user.user_email">
        </div>

        <button class="btn btn-primary" ng-click="model.updateUser(model.user)">Update Profile</button>
    </form>
    <div class="checkbox">
        <label><input type="checkbox" ng-click="model.togglePayment()">Add a new payment method</label>
    </div>
    <form ng-show="model.paySwitch">
        <div class="form-group">
            <label for="cardno">Card Number</label>
            <input id="cardno" class="form-control" type="text" ng-model="model.payment.card_number">
        </div>
        <div class="form-group">
            <label for="cardname">Name on card</label>
            <input id="cardname" class="form-control" type="text" ng-model="model.payment.name_on_card">
        </div>
        <div class="form-group">
            <label for="cardtype">Card Type</label>
            <input id="cardtype" class="form-control" type="text" ng-model="model.payment.card_type">
        </div>
        <div class="form-group">
            <label for="expiry">Card Expiry Date</label>
            <input id="expiry" class="form-control" type="text" ng-model="model.payment.card_expiry"><p>Format: (mm/yy)</p>
        </div>
        <div class="form-group">
            <label for="cardsec">Security Code</label>
            <input id="cardsec" class="form-control" type="password" ng-model="model.payment.card_security_code">
        </div>

        <button ng-click="model.addPaymentMethod(model.payment)" class="btn btn-primary">Add Payment Method</button>
    </form>
    <form>

    </form>
</div>