<div>
    <h3>Movie you have selected is {{currMovie.movie_name}}</h3>
    <h4>Details</h4>
    <p>Duration: {{currMovie.movie_duration}} Minutes</p>
    <p>{{currMovie.movie_language}}</p>
    <p>Score: {{currMovie.movie_imdb_score}}</p>
    <p>Released in {{currMovie.movie_year_released}}</p>


    <div class="form-group">
        <form>
            <p>Select Format</p>
            <div ng-repeat="entry in model.currMovie.quality" class="radio">
                <label><input ng-click="model.setQuality(entry)" type="radio" name="loginRadio">{{entry}}</label>
            </div>
            <p>Price: {{model.purchase.price}} </p>
            <div class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                    <span id="selected">Chose option </span><span class="caret"></span></a>
                <a class="btn btn-default" ng-click="model.userAccount()">Add a new payment method</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="entry in model.user.paymentMethods" ng-click="model.selectPaymentMethod(entry)"><a>{{entry.card_type}}</a></li>
                </ul>
            </div>

            <div class="margin-top-3">
                <form>
                    <div class="form-group">
                        <label for="cardno">Card Number</label>
                        <input id="cardno" class="form-control" type="text" ng-model="model.user.card.card_number">
                    </div>
                    <div class="form-group">
                        <label for="cardname">Name on card</label>
                        <input id="cardname" class="form-control" type="text" ng-model="model.user.card.name_on_card">
                    </div>
                    <div class="form-group">
                        <label for="cardtype">Card Type</label>
                        <input id="cardtype" class="form-control" type="text" ng-model="model.user.card.card_type">
                    </div>
                    <div class="form-group">
                        <label for="expiry">Card Expiry Date</label>
                        <input id="expiry" class="form-control" type="text" ng-model="model.user.card.card_expiry"><p>Format: (mm/yy)</p>
                    </div>
                    <div class="form-group">
                        <label for="cardsec">Security Code</label>
                        <input id="cardsec" class="form-control" type="password" ng-model="model.user.card.card_security_code">
                    </div>

                    <button ng-click="model.purchaseMovie()" class="btn btn-primary">Confirm Purchase</button>
                </form>
            </div>

        </form>
    </div>
</div>