<div class="col-xs-12">
    <form class="form-inline">
        <div class="col-xs-3">
            <label for="search-box">Search</label>
            <input id="search-box" class="form-control" type="text" ng-model='model.search.str'>
        </div>
        <div class="dropdown col-xs-3">
            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                <span id="selected">Chose option </span><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ng-click="model.setSearchType('movie')">By Movie Title </a></li>
                <li><a ng-click="model.setSearchType('actor')">By Actor </a></li>
                <li><a ng-click="model.setSearchType('director')">By Director </a></li>
                <li><a ng-click="model.setSearchType('academy')">By Academy Awards </a></li>

            </ul>
        </div>
        <button class="btn btn-danger" ng-click="model.performSearch(model.search)">Search</button>
    </form>

    <div class="table-responsive margin-3">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Year</th>
                <th>Award Category</th>
                <th>Nominee</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in model.searchResults">
                <td>{{$index+1}}</td>
                <td>{{entry.award_year}}</td>
                <td>{{entry.award_type}}</td>
                <td>{{entry.award_nominee}}</td>
                <td>{{entry.award_description}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>