<div class="table-responsive" infinite-scroll='model.loadMore()' infinite-scroll-distance='2'>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Language</th>
            <th>IMDB Score</th>
            <th>Year</th>
            <th>Definition</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in model.currentMovies">
            <td>{{$index+1}}</td>
            <td>{{movie.movie_name}}</td>
            <td>{{movie.movie_duration}}</td>
            <td>{{movie.movie_language}}</td>
            <td>{{movie.movie_imdb_score}}</td>
            <td>{{movie.movie_year_released}}</td>
            <td>{{movie.movie_definition}}</td>
            <td>{{movie.movie_price}}</td>
            <td><a ng-click="model.buyMovie(movie)">Buy Now!</a></td>
        </tr>
        </tbody>
    </table>
</div>