<div class="container">
    <h2>Admin Page</h2>
    <a class='btn btn-default' ng-click="model.userView()">User Accounts</a>
    <a class='btn btn-default' ng-click="model.moviesPurchaseView()">Movies for Purchase</a>
    <a class='btn btn-default' ng-click="model.moviesAllView()">All Movies</a>
    <a class="btn btn-default" ng-click="model.logout()">Logout</a>
    <div ng-show="model.userViewFlag">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><input class="form-control" ng-model="newUser.username"></td>
                <td><input class="form-control" ng-model="newUser.password"></td>
                <td><input class="form-control" ng-model="newUser.firstname"></td>
                <td><input class="form-control" ng-model="newUser.lastname"></td>
                <td><input class="form-control" ng-model="newUser.dob"></td>
                <td><input class="form-control" ng-model="newUser.phno"></td>
                <td><input class="form-control" ng-model="newUser.email"></td>
                <td><a class="btn btn-success" ng-click="model.addUser(newUser)">Create User</a></td>
            </tr>
            <tr ng-repeat="user in model.users">
                <td>{{$index+1}}</td>
                <td><input class="form-control" ng-model="user.user_username"></td>
                <td><input class="form-control" ng-model="user.user_password"></td>
                <td><input class="form-control" ng-model="user.user_firstname"></td>
                <td><input class="form-control" ng-model="user.user_lastname"></td>
                <td><input class="form-control" ng-model="user.user_dob"></td>
                <td><input class="form-control" ng-model="user.user_contact_number"></td>
                <td><input class="form-control" ng-model="user.user_email"></td>
                <td><a ng-click="model.updateUser(user)" class="btn btn-primary">Update</a></td>
                <td><a ng-click="model.deleteUser(user)" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="model.moviesAllViewFlag" infinite-scroll='model.loadMoreMovies()' infinite-scroll-distance='1'>
        <table class='table'>
            <thead>
            <tr>
                <th>#</th>
                <th>Movie Name</th>
                <th>Year Released</th>
                <th>Duration</th>
                <th>Language</th>
                <th>Country</th>
                <th>Content Rating</th>
                <th>Budget</th>
                <th>Gross</th>
                <th>IMDB Score</th>
                <th>Director ID</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><input class="form-control" ng-model="newMovie.movie_name"></td>
                <td><input class="form-control" type="number" ng-model="newMovie.movie_year_released"></td>
                <td><input class="form-control" type="number" ng-model="newMovie.movie_duration"></td>
                <td><input class="form-control" ng-model="newMovie.movie_language"></td>
                <td><input class="form-control" ng-model="newMovie.movie_country"></td>
                <td><input class="form-control" ng-model="newMovie.movie_content_rating"></td>
                <td><input class="form-control" type="number" ng-model="newMovie.movie_budget"></td>
                <td><input class="form-control" type="number" ng-model="newMovie.movie_gross"></td>
                <td><input class="form-control" type="number" ng-model="newMovie.movie_imdb_score"></td>
                <td><input class="form-control" type="number" ng-model="newMovie.movie_director"></td>
                <td><a class="btn btn-success" ng-click="model.addMovie(newMovie)">Add Movie</a></td>
            </tr>
            <tr ng-repeat="movie in model.currentMovies">
                <td>{{$index+1}}</td>
                <td><input class="form-control" ng-model="movie.movie_name"></td>
                <td><input class="form-control" ng-model="movie.movie_year_released"></td>
                <td><input class="form-control" ng-model="movie.movie_duration"></td>
                <td><input class="form-control" ng-model="movie.movie_language"></td>
                <td><input class="form-control" ng-model="movie.movie_country"></td>
                <td><input class="form-control" ng-model="movie.movie_content_rating"></td>
                <td><input class="form-control" ng-model="movie.movie_budget"></td>
                <td><input class="form-control" ng-model="movie.movie_gross"></td>
                <td><input class="form-control" ng-model="movie.movie_imdb_score"></td>
                <td><input class="form-control" ng-model="movie.movie_director"></td>
                <td><a ng-click="model.updateMovie(movie)" class="btn btn-primary">Update</a></td>
                <td><a ng-click="model.deleteMovie(movie)" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="model.moviesPurchaseViewFlag" infinite-scroll='model.loadMoreMovies()' infinite-scroll-distance='2'>
        <span>*Movie name can be updated in the All Movies tab</span>
        <table class='table'>
            <thead>
            <tr>
                <th>#</th>
                <th>Movie ID</th>
                <th>Movie Name</th>
                <th>Definition</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><input class="form-control" ng-model="newMovieForPurchase.movie_id"></td>
                <td></td>
                <td><input class="form-control" ng-model="newMovieForPurchase.movie_definition"></td>
                <td><input class="form-control" ng-model="newMovieForPurchase.movie_price"></td>
                <td><a ng-click='model.addMovieForPurchase(newMovieForPurchase)' class="btn btn-success">Add Movie</a></td>
            </tr>
            <tr ng-repeat="movie in model.currentMovies">
                <td>{{$index+1}}</td>
                <td><input class="form-control" ng-model="movie.movie_id" disabled></td>
                <td><input class="form-control" ng-model="movie.movie_name" disabled></td>
                <td><input class="form-control" ng-model="movie.movie_definition"></td>
                <td><input class="form-control" ng-model="movie.movie_price"></td>
                <td><a ng-click="model.updateMovieForPurchase(movie)" class="btn btn-primary">Update</a></td>
                <td><a ng-click="model.deleteMovieForPurchase(movie)" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>