<div class="col-xs-12">
    <form class="form-inline">
        <div class="col-xs-5">
            <label for="search-box">Search by Movie or Nominee: </label>
            <input id="search-box" class="form-control" type="text" ng-model='search.str'>
        </div>
        <button class="btn btn-danger" ng-click="model.performSearch(search)">Search</button>
    </form>
    <div class="table-responsive" infinite-scroll='model.loadMore()' infinite-scroll-distance='2'>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Award Year</th>
                <th>Award Type</th>
                <th>Nominee</th>
                <th>Winner</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="award in model.currentMovies">
                <td>{{$index+1}}</td>
                <td>{{award.award_year}}</td>
                <td>{{award.award_type}}</td>
                <td>{{award.award_nominee}}</td>
                <td>{{award.winner}}</td>
                <td>{{award.award_description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
